<!DOCTYPE html>
<html lang="vi">
  <head>
    <meta charset="UTF-8" />
    <title>Quản lý Cây ATM</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/2.1.8/css/dataTables.bootstrap5.css">
    <script src="https://kit.fontawesome.com/43edd6a16f.js" crossorigin="anonymous"></script>
    <style>
      * {
        box-sizing: border-box;
      }

      body {
        margin: 0;
        font-family: Arial, Helvetica, sans-serif;
      }


      table{
        margin-left: 10px;
        margin-right: 1000px;
      }

      .btn-primary{
        font-size: 20px;
        padding: 5px;
        border-radius: 6px;
        margin-right:5px;
        /* box-sizing: border-box; */
      }
      .actionBtn i{
        font-size: large;
        padding: 10px;
      }
      #deleteBtn:hover{
        color: red;
        transform: scale(1.5)
      }
      #editBtn:hover{
        color: red;
        transform: scale(1.5)
      }
      #example_wrapper > div:first-child {
        background-color: rgb(233, 233, 233) !important;
        padding-bottom: 5px;
        padding-top: 5px;
        border-radius: 5px;
      }
      #dt-search-0 {
        width: 500px;
        margin-right: 10px;
 
      }
      #dt-length-0{
        font-size: 15px;
        width: 50px;
        height: 25px;
        padding: 0px;
        margin-right: 0px;
        margin-left: 10px;
      }
      #example_info{
        font-size: 13px;
      }

    </style>
  </head>
  <body>
    <h1 class="text-center"> <a style="text-decoration: none" href="/admin"><b>Hệ thống quản lý cây ATM</b></a> </h1>
    <!-- <button ><a href="/add">Thêm ATM mới</a></a></button> -->
    <!-- <table class="table"> -->
    <table id="example" class="table table-striped" style="width: 100%">
      <thead>
        <tr>
          <th>ID</th>
          <th>Địa chỉ</th>
          <th>Vĩ độ</th>
          <th>Kinh độ</th>
          <th>Khu vực</th>
          <th>Ngân hàng</th>
          <th>Trạng thái</th>
          <th>Số tiền còn lại</th>
          <th>Hành động</th>
        </tr>
      </thead>
      <tbody>
        <% atms.forEach(function(atm) { %>
        <tr>
          <td><%= atm.atm_id %></td>
          <td><%= atm.atm_location %></td>
          <td><%= atm.latitude %></td>
          <td><%= atm.longitude %></td>
          <td><%= atm.district_name || 'Không xác định' %></td>
          <td><%= atm.bank_name %></td>
          <td><%= atm.status_name %></td>
          <td><%= atm.cash_amount %></td>
          <td>
            <div class="actionBtn">
              <a href="/edit/<%= atm.atm_id %>"><i id="editBtn" class="fa-solid fa-pen-to-square"></i></a>
              <a href="/delete/<%= atm.atm_id %>"><i id="deleteBtn" class="fa-solid fa-trash"></i></a>
            </div>

          </td>
        </tr>
        <% }) %>
      </tbody>
    </table>
    <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.datatables.net/2.1.8/js/dataTables.js"></script>
    <script src="https://cdn.datatables.net/2.1.8/js/dataTables.bootstrap5.js"></script>

    <script>new DataTable('#example');</script>
    <script>
      let inputSearch = document.getElementById('dt-search-0');
      if (inputSearch) {
        inputSearch.placeholder = 'Nhập tên ngân hàng hoặc Quận';
      }
      let labels = document.querySelectorAll('label');
      labels.forEach(function(label) {
        label.parentNode.removeChild(label);
      });
      let addElement = document.getElementById('example_wrapper');

      // let addATM = document.createElement('a');
      // addATM.href = '/add';
      // addATM.className = 'testactive';
      // addATM.innerText = 'Add ATM';
      // inputSearch.parentNode.append(addATM);
      
      let addATM = document.createElement('a');
      addATM.className = 'btn-primary';
      addATM.href = '/add';
      let atmBtn = document.createElement('i');
      atmBtn.className = 'fa fa-plus-circle';
      addATM.appendChild(atmBtn);
      inputSearch.parentNode.append(addATM);

      let i = document.createElement('i');
      i.className = 'fa fa-sign-out';
      let btnLogout = document.createElement('a');
      btnLogout.className = 'btn-primary';
      btnLogout.href = '/logout';
      btnLogout.appendChild(i);
      inputSearch.parentNode.append(btnLogout);
    </script>
  </body>
</html>
